NEXT_PUBLIC_API_BASE_URL=https://findu-web.yellowcoast-21752100.westus2.azurecontainerapps.io/api/v1
# Fallback: https://findu-api.fly.dev/api/v1
NEXT_PUBLIC_DD_APPLICATION_ID=
NEXT_PUBLIC_DD_CLIENT_TOKEN=
NEXT_PUBLIC_DD_SITE=
NEXT_PUBLIC_DD_ENV=